In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

df = pd.read_csv('iris.csv')
df.head(2)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa

In [5]:
x = train2.loc[:, :'petal.width']
t = train2['variety']

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
new = sc.fit_transform(x)

In [9]:
x_train, x_val, y_train, y_val = train_test_split(new, t, test_size = 0.2, random_state = 0)

In [10]:
# ロジスティック回帰による学習
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(random_state = 0, C = 0.1, multi_class = 'auto', solver = 'lbfgs')

In [11]:
model.fit(x_train, y_train)
print(model.score(x_train, y_train))
model.score(x_val, y_val)

0.925

0.8666666666666667

model.coef_

In [12]:
model.coef_

array([[-0.48174079,  0.47863376, -0.74254854, -0.70274867],
       [ 0.0651996 , -0.40488305,  0.07977284, -0.14511654],
       [ 0.41654119, -0.07375071,  0.66277571,  0.84786521]])

In [13]:
x_new = [[1, 2, 3, 4]]

model.predict(x_new)

array(['Virginica'], dtype=object)

In [15]:
model.predict_proba(x_new) # 確率の予測結果を確認する

array([[3.42735898e-05, 2.63865920e-03, 9.97327067e-01]])

In [16]:
df = pd.read_csv('Survived.csv')
df.head(2)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C

In [17]:
jo1 = df['Pclass'] == 1
jo2 = df['Survived'] == 0
jo3 = df['Age'].isnull()
df.loc[(jo1) & (jo2) & (jo3), 'Age'] = 43

jo2 = df['Survived'] == 1
df.loc[(jo1) & (jo2) & (jo3), 'Age'] = 35

jo1 = df['Pclass'] == 2
jo2 = df['Survived'] == 0
jo3 = df['Age'].isnull()
df.loc[(jo1) & (jo2) & (jo3), 'Age'] = 26

jo2 = df['Survived'] == 1
df.loc[(jo1) & (jo2) & (jo3), 'Age'] = 20

jo1 = df['Pclass'] == 3
jo2 = df['Survived'] == 0
jo3 = df['Age'].isnull()
df.loc[(jo1) & (jo2) & (jo3), 'Age'] = 43

jo2 = df['Survived'] == 1
df.loc[(jo1) & (jo2) & (jo3), 'Age'] = 35

In [18]:
col = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

x = df[col]
t = df['Survived']

dummy = pd.get_dummies(df['Sex'], drop_first = True)
x = pd.concat([x, dummy], axis = 1)
x.head(2)

   Pclass   Age  SibSp  Parch     Fare  male
0       3  22.0      1      0   7.2500     1
1       1  38.0      1      0  71.2833     0

In [19]:
# ランダムフォレスト
from sklearn.ensemble import RandomForestClassifier

x_train, x_test, y_train, y_test = train_test_split(x, t, test_size = 0.2, random_state = 0)
model = RandomForestClassifier(n_estimators = 200, random_state = 0)

In [20]:
model.fit(x_train, y_train)

print(model.score(x_train, y_train))
print(model.score(x_test, y_test))

0.9887640449438202
0.8715083798882681

In [21]:
importance = model.feature_importances_ # 特徴量重要度

pd.Series(importance, index = x_train.columns)

Pclass    0.079546
Age       0.323012
SibSp     0.045682
Parch     0.032854
Fare      0.265573
male      0.253334
dtype: float64

In [23]:
# アダブースト
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

x_train, x_test, y_train, y_test = train_test_split(x, t, test_size = 0.2, random_state = 0)

# 最大深さ5の決定木を何個も作っていく
base_model = DecisionTreeClassifier(random_state = 0, max_depth = 5)

# 決定木を５００個作成
model = AdaBoostClassifier(n_estimators = 500, random_state = 0, estimator = base_model)
model.fit(x_train, y_train)

print(model.score(x_train, y_train))
print(model.score(x_test, y_test))

0.9887640449438202
0.8268156424581006

In [36]:
df = pd.read_csv('cinema.csv')
df = df.fillna(df.mean())
x = df.loc[:, 'SNS1':'original']
t = df['sales']
x_train, x_test, y_train, y_test = train_test_split(x, t, test_size = 0.2, random_state = 0)

# ランダムフォレストで回帰モデルを作る
# ランダムフォレスト
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators = 100, random_state = 0)

model.fit(x_train, y_train)
model.score(x_test, y_test)

0.5563347234627347

In [35]:
# アダブーストで回帰モデルを作る
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor

base = DecisionTreeRegressor(random_state = 0, max_depth = 3)

# 決定木を1００個作成
model = AdaBoostRegressor(n_estimators = 100, random_state = 0, estimator = base)
model.fit(x_train, y_train)

print(model.score(x_test, y_test))

0.6748482902800903